/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(images/rstudio_logo.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

/* Logo height */
.navbar-logo {
    max-height: 100px;
    width: auto;
    padding-right: 4px;
}


